.HeaderTitle {
  text-align: center;
  padding: var(--padding-large);
  background-color: var(--black);
  color: var(--beige);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh
}

.HeaderTitle-content {
  font-size: 80px;
  text-transform: uppercase;
}

.HeaderTitle:hover {
  color: var(--red);
}

/*FIXME*/
@media (min-width: 500) {
  .HeaderTitle-content {
    font-size: 40px;
  }
}
