.HeaderTitle {
  text-align: center;
  padding: var(--padding-large);
  background-color: var(--black);
  color: var(--beige);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh
}

.HeaderTitle-content {
  font-size: 80px;
  text-transform: uppercase;
}

.HeaderTitle:hover {
  color: var(--red);
}

@media (max-width: 689px) {
  .HeaderTitle {
    height: 175px;
  }
  .HeaderTitle-content {
    font-size: 60px;
  }
}

@media (max-width: 390px) {
  .HeaderTitle {
    height: 175px;
  }
  .HeaderTitle-content {
    font-size: 40px;
  }
}
