.Nav {
  display: flex;
  justify-content: space-around;
}

.NavItem {
  display: inline-block;
  width: 100%;
  border: var(--border-thick);
  border-right: 0;
}

.NavItem a {
  display: inline-block;
  width: 100%;
  padding: var(--padding-medium) 0;
  text-align: center;
}

.NavItem a:hover {
  background-color: var(--red);
  color: var(--black);
}
