* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact;
}

body {
  background-color: beige;
}


img {
  height: 300px;
}

.img-container {
  display: flex;
  justify-content: center;
  padding: var(--padding-large);
}
