* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact;
}

body {
  background-color: beige;
}


img {
  max-height: 300px;
}

.img-container {
  display: flex;
  justify-content: center;
  overflow: scroll;
  padding: var(--padding-large);
}

p {
  font-family: Verdana, sans-serif;
  font-size: 21px;
  padding: 0.7em 0;
  line-height: 1.7;
}
