:root {
  /* Colors */
  --red: #f00;
  --black: #000;
  --white: #fff;
  --beige: #f5f5dc;
  --off-beige: #c0c087;
  --gold: gold;

  /* Spacing */
  --spacing-small: 15px;
  --spacing-medium: 30px;
  --spacing-large: 50px;
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 20px;

  /* Border */
  --border-thick: 5px solid var(--black);
}
