:root {
  /* Colors */
  --red: #f00;
  --black: #000;
  --white: #fff;
  --beige: beige;

  /* Spacing */
  --spacing-small: 15px;
  --spacing-medium: 30px;
  --padding-medium: 10px;
  --padding-large: 20px;

  /* Border */
  --border-thick: 5px solid var(--black);
}
